node_modules
.next
out
build
dist

.git
.gitignore
.github

.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

.vercel
.turbo
coverage
.nyc_output

.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Archivos temporales del editor
.vscode
.idea
*.swp
*.swo
*~

# No copiar este propio ignore ni README de dev
README.md
